.header{
    display: flex;
    justify-content: center;
}

nav{
    width: 30%;
}

ul {
    list-style-type: none;
    margin: 20px;
    display: flex;
    justify-content: space-between;
  }

li a{
    text-decoration: none;
    font-family: 'Kaisei Decol';
    color: black;

}


